### Customers rolling performance

Please use the dataset '12_customers_rolling_performance.csv' to solve the 2 questions below:

In [27]:
import pandas as pd 

df = pd.read_csv('12_customers_rolling_performance.csv', sep = '\t')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [11]:
df[['Invoice_End_Date']] = pd.to_datetime(df['InvoiceDate'])
# - pd.Timedelta(days=7)

# df[df['DateTime'].dt.date == pd.to_datetime('20220101', format='%Y%m%d').date()]
# df[['Invoice_Start_Date']] = df['Invoice_Start_Date'].dt.strftime('%Y-%m-%d')
# df[['Invoice_End_Date']] = df[['Invoice_Start_Date']] + pd.Timedelta(days=7)
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Invoice_Date,Invoice_Start_Date,Invoice_End_Date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,2010-11-24 08:26:00,2010-11-24,2010-12-01 08:26:00
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,2010-11-24 08:26:00,2010-11-24,2010-12-01 08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,2010-11-24 08:26:00,2010-11-24,2010-12-01 08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,2010-11-24 08:26:00,2010-11-24,2010-12-01 08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,2010-11-24 08:26:00,2010-11-24,2010-12-01 08:26:00

In [36]:
    date = '2011-03-15'
    data = df
    cutoff_date = pd.to_datetime(date)
    data[['Invoice_Date']] = pd.to_datetime(df['InvoiceDate'])
    data_in_7_days = data.loc[(data['Invoice_Date'] <= cutoff_date) & (data['Invoice_Date'] >= cutoff_date - pd.Timedelta(days=7))]
    
    data_in_7_days.drop_duplicates(subset='CustomerID', keep='first', inplace=True)
    number_of_unique_customer = data_in_7_days.shape[0]

/opt/jupyterhub/lib64/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [37]:
number_of_unique_customer

259

1. This is a transnational data set which contains all the transactions for a UK-based and registered non-store online retail. Your goal is to write a function to calculate the number of unique purchased customers in a rolling 7 days base given a date. For instance, given a date on 2011-03-15, you are able to the provide the number of unique customers from 2011-03-09 to 2011-03-15.

In [38]:
date = '2011-03-15'


def number_of_unique_customers_in_7_rolling_days(cutoff_date: str, data: pd.DataFrame) -> int:
    number_of_unique_customer: int = None 
    # Write your code here
    cutoff_date = pd.to_datetime(date)
    data[['Invoice_Date']] = pd.to_datetime(data['InvoiceDate'])
    data_in_7_days = data.loc[(data['Invoice_Date'] <= cutoff_date) & (data['Invoice_Date'] >= cutoff_date - pd.Timedelta(days=7))]
    
    data_in_7_days.drop_duplicates(subset='CustomerID', keep='first', inplace=True)
    number_of_unique_customer = data_in_7_days.shape[0]
                                                 
    return number_of_unique_customer


number_of_unique_customers_in_7_rolling_days(date, df)

/opt/jupyterhub/lib64/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

259

2. Please write a function to find out is there any customer who have purchased everyday within a three-day window.

In [60]:
def customer_purchase_in_consecutive_3_day(data: pd.DataFrame) -> list:
    customer_ls: list = []
    # Write your code here
    
    return customer_ls

customer_purchase_in_consecutive_3_day(df)

[]